<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Merchify{% endblock %}</title>

    <!-- Include Bootstrap via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons via CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Custom CSS -->
    {% load static %}
    {% block css %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <style>
                .nav-icon {
            width: 20px;  /* Set the width you prefer */
            height: 25px; /* Set the height you prefer */
            object-fit: contain; /* Maintain aspect ratio */
            margin-top: 5px; /* Remove any default margins */
            font-size: 20px;
                    color: black;
        }

    </style>
</head>

<body>
    <!-- Navbar -->
    {% if user.is_authenticated %}
        <!-- Navbar for logged-in users -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 0.25rem; padding-bottom: 0.25rem; min-height: 50px; padding-left: 0px">
            <div class="container-fluid">
                <a class="navbar-brand" href={% url 'home' %}>
                    <img src="/media/logo.png" alt="Logo" width="80">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'produtos' %}">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'artistas' %}">Artistas e Bandas</a>
                        </li>
                    </ul>
                    <form class="d-flex me-3" method="GET" action="{% url 'search_products' %}">
                        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search" value="{{ query|default:'' }}">
                        <button class="btn btn-outline-secondary me-1" type="submit">
                            <span class="fa fa-search nav-icon" alt="Pesquisar" ></span>
                        </button>                
                    </form>
                    <div class="d-flex">
                        <a href="{% url 'profile' %}" class="btn btn-outline-secondary me-2">
                            <span class="fa fa-user nav-icon" alt="Carrinho"></span>
                        </a>
                        <a href="{% url 'cart' %}" class="btn btn-outline-secondary me-2">
                            <span class="fa fa-shopping-cart nav-icon" alt="Carrinho"></span>
                        </a>
                        <a href="{% url 'favorites' %}" class="btn btn-outline-secondary me-2">
                            <span class="fa fa-heart nav-icon" style="color: #cc4e4e;"></span>
                        </a>
                        <a href="{% url 'logout' %}" class="btn btn-outline-secondary me-2">
                            <span class="fas fa-sign-out-alt nav-icon" alt="Carrinho"></span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    {% else %}
        <!-- Navbar for guests (not logged in) -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 0.25rem; padding-bottom: 0.25rem; min-height: 50px;">
            <div class="container-fluid">
                <a class="navbar-brand" href={% url 'home' %}>
                    <img src="/media/logo.png" alt="Logo" width="80">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'produtos' %}">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'artistas' %}">Artistas e Bandas</a>
                        </li>
                    </ul>
                    <form class="d-flex me-3" method="GET" action="{% url 'search_products' %}">
                        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search" value="{{ query|default:'' }}">
                        <button class="btn btn-outline-secondary me-1" type="submit">
                            <i class="bi bi-search"></i> 
                        </button>                
                    </form>
                    <div class="d-flex">
                        <a href="{% url 'login' %}" class="btn btn-outline-secondary">
                            <img src="/media/user.png" alt="Login" width="20"> Login
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    {% endif %}

    <!-- Main Content Block -->
    <main role="main">
        <div class="container body-content gx-0">
            {% block content %}{% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3">
        <div class="text-center p-3">
            © 2024 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+eP5hb7ieYhZzM1G7ybmVVDATbKbd" crossorigin="anonymous"></script>
</body>
</html>
